.apresentacao {
    width: 95%;
    height: 100%;
    margin: auto;
}

#corpo {
    width: 90%;
    position: relative;
    top: 8%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-column-gap: 20px;
}

#mapa {
    width: 100%;
    position: sticky;
    top: 8%;
}

#texto {
    height: 90%;
    font-family: 'Markazi Text';
    font-style: regular;
    font-size: 18px;
    text-align: justify;
}

a {
    font-size: 50px;
    position: relative;
    left:90%;
    line-height: 0px;
}

a:link {
    text-decoration: none;
    color:#979797
  }
  
  a:visited {
    text-decoration: none;
    color:#979797
  }
  
  a:active {
    text-decoration: none;
  }

a:hover {
    text-decoration: none;
    color: #ff00b3;
}

#teiazona {
    width: 90%;
    top: 150px;
    margin: auto;
}